header {
    height: 765px;
    position: relative;
    background-image: url('../recoures/headimage/headimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.mylogo {
    position: absolute;
    display: inline-block;
    width: 228px;
    top: 27px;
    font-size: 42px;
    line-height: 57px;
    border-radius: 50px;
    font-weight: 900;
    text-align: center;
    color: #FFFF;
    text-decoration: none;
    background-size: 50px;
    background-color: #3559f7;
}

.head__text {
    position: absolute;
    width: 430px;
    bottom: 326px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: white;
}

.head__title {
    position: absolute;
    width: 919px;
    bottom: 108px;
    font-size: 79px;
    line-height: 83px;
    font-weight: 400;
    color: #3559f7;
}

@media (max-width: 1199px) {
    header {
        width: 100%;
        height: 765px;
        background-image: url('../recoures/headimage/headimagetable.png');
    }

    .mylogo {
        top: 23px;
        left: 22px;
    }
    
    .head__text {
        width: 430px;
        bottom: 326px;
        font-size: 20px;
        line-height: 26px;
    }

    .head__title {
        width: 679px;
        bottom: 56px;
        font-size: 59px;
        line-height: 78px;
    }
}

@media (max-width: 767px) {
    header {
        width: 100%;
        height: 1110px;
        background-image: url('../recoures/headimage/headimagemob.png');
    }
    

    .mylogo {
        width: 365px;
        top: 45px;
        font-size: 55px;
        line-height: 95px;
    }

    .head__text {
        width: 430px;
        bottom: 313px;
        font-size: 25px;
        line-height: 35px;
    }

    .head__title {
        width: 591px;
        bottom: 37px;
        font-size: 58px;
        line-height: 77px;
    }
}