section:last-child {
    margin-top: 150px;
    margin-bottom: 150px;
}

.head__nav {
    float: right;
}

.head__nav a:hover {
    color: #3db0f2;
}

.head__link {
    margin-right: 41px;
    line-height: 22px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.head__link:last-child {
    margin-right: 0;
}